body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #222;
}

/* HERO */
.hero {
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;
}

.work-title {
  text-align: center;
  font-size: 30px;
  padding: 20px 20px;
}

.hero-intro {
  font-size: 20px;
  line-height: 1.5;
  margin: 15px auto;
  max-width: 800px;
  text-align: center;
}

.hero-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

/* BUTTONS */
.btn-primary {
  background: #47b88e;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn-secondary {
  background: white;
  border: 2px solid #47b88e;
  color: #47b88e;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn-live:hover {
  background: #1a6247;
  cursor: pointer;
}

.btn-code:hover {
  background: #1a6247;
  color: white;
  cursor: pointer;
  border-color: #1a6247;
}

/* SKILLS */
.skills {
  padding: 20px;
  text-align: center;
}

.skills h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}

.skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skills li {
  padding: 4px 0;
  background: none;
  border-radius: 0;
  font-size: 22px;
}

/* DIVIDER */
.divider {
  border: none;
  border-top: 2px solid #47b88e;
  margin: 60px auto;
  margin-bottom: 60px;
  width: 80%;

}

/* CARD CONTAINER */
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
}

/* IMAGE */
.project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

/* TITLE */
.project-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

/* TAGS */
.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.project-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.project-description {
  text-align: center;
  line-height: 1.5;
}

.tag {
  background: #eee;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

/* BUTTONS */
.project-buttons {
  display: flex;
  flex-direction: column;
  /* COLUMN */
  width: 100%;
  gap: 10px;
}

.btn-live {
  background: #47b88e;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.btn-code {
  background: white;
  border: 2px solid #47b88e;
  color: #47b88e;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

/* FEATURED PROJECTS */
.featured-wrapper {
  padding: 20px 0;
  overflow: hidden;
}

.featured-wrapper h2,
.projects h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.featured-scroll {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-left: 16px;
  padding-right: 16px;
  scrollbar-width: none;
}

.featured-scroll::-webkit-scrollbar {
  display: none;
}

.featured-card {
  scroll-snap-align: start;
  flex: 0 0 70%;
}

.featured-card .project-image {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 4px;
}

/* PROJECT GRID */
.projects .grid {
  display: grid;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 700px) {
  .projects .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-card {
    flex: 0 0 40%;
  }
}

@media (min-width: 1024px) {

  .projects .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .featured-card {
    flex: 0 0 450px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.contact p.linkedIn {
  display: flex;
  color: #1a6247;
  align-items: center;
  gap: 8px;
  margin-top: 2px;
}

.contact p.linkedIn a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: transform 0.3s, filter 0.3s;
}

.contact p.linkedIn a img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s, filter 0.3s;
}

.contact p.linkedIn a:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}